@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Mukta:wght@300&family=Prompt:wght@300&family=Roboto+Slab&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Mukta:wght@300&family=Prompt:wght@300&family=Roboto+Slab&family=Yeseva+One&display=swap");
@font-face {
  font-family: "Geom";
  src: url("../fonts/Geometos Rounded.ttf");
}

@font-face {
  font-family: "Carneys";
  src: url("../fonts/Carneys Gallery.otf");
}

@font-face {
  font-family: "goodtimingbd";
  src: url("../fonts/good timing bd.ttf");
}

@font-face {
  font-family: "Geom";
  src: url("../fonts/Geometos Rounded.ttf");
}

@font-face {
  font-family: "Carneys";
  src: url("../fonts/Carneys Gallery.otf");
}

@font-face {
  font-family: "goodtimingbd";
  src: url("../fonts/good timing bd.ttf");
}

.themes-buttons {
  height: 30px;
  width: 150px;
  position: absolute;
  z-index: 200;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.themes-buttons .thmsbtn {
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #0a0a0a;
          box-shadow: 0 0 10px #0a0a0a;
}

.themes-buttons .btn-default {
  background: #833e25;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #833e25), color-stop(72%, #ffa42c));
  background: linear-gradient(0deg, #833e25 19%, #ffa42c 72%);
}

.themes-buttons .btn-darkblue {
  background: #0d0055;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #0b003a), color-stop(72%, #1200af));
  background: linear-gradient(0deg, #0b003a 19%, #1200af 72%);
}

.themes-buttons .btn-retro {
  background: #e6d1ab;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #665541), color-stop(72%, #e6d1ab));
  background: linear-gradient(0deg, #665541 19%, #e6d1ab 72%);
}

* {
  font-family: "Prompt", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background: #0055aa;
  background: linear-gradient(328deg, #0055aa 0%, #002b54 57%, #081a28 90%);
  overflow-x: hidden;
}

#home {
  position: relative;
  overflow: hidden;
  background: url("../images/MeDarkBlue.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-profile {
  position: absolute;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.041);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 10px;
}

#home .home-profile h1 {
  font-size: 5.5vw;
  letter-spacing: 10px;
  font-family: "goodtimingbd", "Audiowide", cursive;
  color: #deebfc;
  text-shadow: 0 0 7px #deebfc;
}

#home .home-profile h3 {
  font-size: 2.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #deebfc;
  border-right: 1px solid #deebfc;
  padding-right: 2vw;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4vh 2vw 4vh 2vw;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  position: relative;
  overflow-y: hidden;
  -webkit-box-shadow: 0 0 20px #081a28 inset;
          box-shadow: 0 0 20px #081a28 inset;
}

#projects .projects-title {
  font-family: "goodtimingbd", "Audiowide", cursive;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15vw;
  color: #deebfc;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(20deg) rotateX(20deg);
          transform: rotateY(20deg) rotateX(20deg);
  -webkit-text-stroke: 2px #0074e7;
  text-shadow: -20px 30px 5px #081a28;
  pointer-events: none;
  opacity: 0.5;
}

#projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  height: 50vh;
  overflow: hidden;
  margin: 3vh 2vw;
  width: 40vw;
  -webkit-box-shadow: 0 0 5px #deebfc;
          box-shadow: 0 0 5px #deebfc;
}

#projects .title-projects {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #081a28;
}

#projects .title-projects .btn-projects {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 2vw;
  font-family: "goodtimingbd", "Audiowide", cursive;
  background-color: transparent;
  border: none;
  color: #deebfc;
  outline: none;
}

#projects .projectss {
  cursor: -webkit-grab;
  cursor: grab;
  height: 50vh;
  width: 30vw;
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  background-color: rgba(255, 255, 255, 0.205);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

#projects .projectss:hover {
  height: 50vh;
  opacity: 1;
}

#projects .item {
  margin: 2vh 3vw;
  text-align: center;
}

#projects .item .img-capt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .item .img-capt h2 {
  font-family: "goodtimingbd", "Audiowide", cursive;
  color: #081a28;
  font-size: 15px;
}

#projects .item .img-capt a {
  color: #deebfc;
  font-size: 11px;
}

#projects .item img {
  width: 23vw;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0 0 4px #081a28;
          box-shadow: 0 0 4px #081a28;
}

#about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/buildings.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.527);
  background-blend-mode: darken;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
}

#about h2 {
  font-family: "goodtimingbd", "Audiowide", cursive;
  font-size: 16vw;
  color: transparent;
  -webkit-text-stroke: 1px #deebfc;
  pointer-events: none;
  text-shadow: 0 0 4px #deebfc;
}

#about p {
  color: #deebfc;
  margin: 2vh 2vw;
  text-shadow: 0 0 2px #deebfc;
}

footer {
  background-color: #081a28;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h5 {
  color: #deebfc;
  font-family: "goodtimingbd", "Audiowide", cursive;
}
/*# sourceMappingURL=darkblue.css.map */