@import "Variables";
@import "style";

* {
  font-family: $fontblue2;
}
::-webkit-scrollbar {
  width: 0;
}

body {
  background: rgb(0, 85, 170);
  background: linear-gradient(
    328deg,
    rgb(0, 85, 170) 0%,
    rgba(0, 43, 84, 1) 57%,
    rgba(8, 26, 40, 1) 90%
  );
  overflow-x: hidden;
}

#home {
  position: relative;
  overflow: hidden;
  background: url("../images/MeDarkBlue.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .home-profile {
    position: absolute;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(1px);
    padding: 10px;

    h1 {
      font-size: 5.5vw;
      letter-spacing: 10px;
      font-family: $fontblue1;
      color: $whiblue;
      text-shadow: 0 0 7px $whiblue;
    }
    h3 {
      font-size: 2.5vw;
      width: fit-content;
      color: $whiblue;
      border-right: 1px solid $whiblue;
      padding-right: 2vw;
    }
  }
}

#projects {
  display: flex;
  justify-content: space-around;
  margin: 4vh 2vw 4vh 2vw;
  flex-flow: wrap;
  position: relative;
  overflow-y: hidden;
  box-shadow: 0 0 20px $darkblue inset;

  .projects-title {
    font-family: $fontblue1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    color: $whiblue;
    transform-style: preserve-3d;
    transform: rotateY(20deg) rotateX(20deg);
    -webkit-text-stroke: 2px $blue;
    text-shadow: -20px 30px 5px $darkblue;
    pointer-events: none;
    opacity: 0.5;
  }

  .projects-container {
    display: flex;
    z-index: 10;
    height: 50vh;
    overflow: hidden;
    margin: 3vh 2vw;
    width: 40vw;
    box-shadow: 0 0 5px $whiblue;
  }

  .title-projects {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkblue;
    .btn-projects {
      transform: rotate(-90deg);
      font-size: 2vw;
      font-family: $fontblue1;
      background-color: transparent;
      border: none;
      color: $whiblue;
      outline: none;
    }
  }

  .projectss {
    cursor: grab;
    height: 50vh;
    width: 30vw;
    flex: 0.9;
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(3px);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    opacity: 0;
    transition: 0.4s all ease-in-out;
  }

  .projectss:hover {
    height: 50vh;
    opacity: 1;
  }

  .item {
    margin: 2vh 3vw;
    text-align: center;

    .img-capt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: $fontblue1;
        color: $darkblue;
        font-size: 15px;
      }
      a {
        color: $whiblue;
        font-size: 11px;
      }
    }

    img {
      width: 23vw;
      object-fit: contain;
      box-shadow: 0 0 4px $darkblue;
    }
  }
  .item:hover img {
  }
}

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/buildings.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.527);
  background-blend-mode: darken;
  flex-direction: column;
  background-attachment: fixed;
  h2 {
    font-family: $fontblue1;
    font-size: 16vw;
    color: transparent;
    -webkit-text-stroke: 1px $whiblue;
    pointer-events: none;
    text-shadow: 0 0 4px $whiblue;
  }
  p {
    color: $whiblue;
    margin: 2vh 2vw;
    text-shadow: 0 0 2px $whiblue;
  }
}

footer {
  background-color: $darkblue;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    color: $whiblue;
    font-family: $fontblue1;
  }
}
