@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Mukta:wght@300&family=Prompt:wght@300&family=Roboto+Slab&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Mukta:wght@300&family=Prompt:wght@300&family=Roboto+Slab&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Mukta:wght@300&family=Prompt:wght@300&family=Roboto+Slab&family=Yeseva+One&display=swap");
@font-face {
  font-family: "Geom";
  src: url("../fonts/Geometos Rounded.ttf");
}

@font-face {
  font-family: "Carneys";
  src: url("../fonts/Carneys Gallery.otf");
}

@font-face {
  font-family: "Geom";
  src: url("../fonts/Geometos Rounded.ttf");
}

@font-face {
  font-family: "Carneys";
  src: url("../fonts/Carneys Gallery.otf");
}

.themes-buttons {
  height: 30px;
  width: 150px;
  position: absolute;
  z-index: 200;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.themes-buttons .thmsbtn {
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #0a0a0a;
          box-shadow: 0 0 10px #0a0a0a;
}

.themes-buttons .btn-default {
  background: #833e25;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #833e25), color-stop(72%, #ffa42c));
  background: linear-gradient(0deg, #833e25 19%, #ffa42c 72%);
}

.themes-buttons .btn-standard {
  background-color: white;
}

.themes-buttons .btn-retro {
  background: #e6d1ab;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #665541), color-stop(72%, #e6d1ab));
  background: linear-gradient(0deg, #665541 19%, #e6d1ab 72%);
}

@font-face {
  font-family: "Geom";
  src: url("../fonts/Geometos Rounded.ttf");
}

@font-face {
  font-family: "Carneys";
  src: url("../fonts/Carneys Gallery.otf");
}

::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: "Mukta", sans-serif;
}

body {
  background-color: #0a0a0a;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  overflow-x: hidden;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: #0a0a0a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(73%, #0a0a0a), color-stop(84%, #0f0f0f), color-stop(91%, #833e25), to(#ffa42c));
  background: linear-gradient(0deg, #0a0a0a 73%, #0f0f0f 84%, #833e25 91%, #ffa42c 100%);
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

#home .home-profile {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 1vw;
}

#home .home-profile h1 {
  color: #0a0a0a;
  -webkit-text-stroke: 0.4px #ffa42c;
  font-family: "Geom", sans-serif;
  font-size: 11vw;
  animation: nameani 3s reverse infinite;
  z-index: 8;
}

#home .home-profile h2 {
  color: lightgrey;
  font-size: 4vw;
  -webkit-animation: typed 3s steps(20, end) infinite forwards;
          animation: typed 3s steps(20, end) infinite forwards;
  overflow: hidden;
  white-space: nowrap;
  z-index: 5;
}

#home .home-image {
  z-index: 5;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
  border-left: 1px solid #ffa42c;
}

#home .home-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -webkit-box-shadow: 0 0px 5px 1px #ffa42c;
          box-shadow: 0 0px 5px 1px #ffa42c;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px) rotateY(-5deg) rotateX(1deg);
          transform: perspective(800px) rotateY(-5deg) rotateX(1deg);
}

#home .thesun {
  background: #833e25;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #833e25), color-stop(72%, #ffa42c));
  background: linear-gradient(0deg, #833e25 19%, #ffa42c 72%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  z-index: -0.5;
  margin-left: 50%;
  -webkit-box-shadow: 0 0 50px 10px #ffa42c;
          box-shadow: 0 0 50px 10px #ffa42c;
  top: 30%;
  -webkit-animation: thesun 5s linear infinite;
          animation: thesun 5s linear infinite;
  overflow: hidden;
  -webkit-transform-origin: 0 -5%;
          transform-origin: 0 -5%;
}

#projects {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80vh;
  border-bottom: 2px dashed #ffa42c;
}

#projects h1 {
  font-family: "Geom", sans-serif;
  color: #ffa42c;
  text-align: center;
  letter-spacing: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateX(20deg);
          transform: perspective(1000px) rotateX(20deg);
  text-shadow: 0 5px 2px #833e25;
  font-size: 8vw;
}

#projects .bg-prj {
  position: absolute;
  font-size: 15vw;
  left: 0;
  opacity: 0.5;
}

#projects .projects-container {
  height: 90vh;
}

#projects .projects-container .website,
#projects .projects-container .design,
#projects .projects-container .draw,
#projects .projects-container .trid {
  overflow-y: scroll;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects .projects-container .website {
  background-image: url("../images/1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: background-image 0.2s ease-in;
  transition: background-image 0.2s ease-in;
}

#projects .projects-container .website .item .img-capt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects .projects-container .website .item .img-capt h2 {
  font-family: "Geom", sans-serif;
  color: #ffa42c;
  text-shadow: 0 0 3px #ffa42c;
}

#projects .projects-container .website .item .img-capt a {
  color: lightgrey;
}

#projects .projects-container .design {
  background-color: #0a0a0a;
}

#projects .projects-container .design .thesun2 {
  background: #833e25;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #833e25), color-stop(72%, #ffa42c));
  background: linear-gradient(0deg, #833e25 19%, #ffa42c 72%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 0 80px 50px #ffa42c;
          box-shadow: 0 0 80px 50px #ffa42c;
}

#projects .projects-container .design .item {
  -webkit-box-shadow: 0 0 15px #ffa42c;
          box-shadow: 0 0 15px #ffa42c;
}

#projects .projects-container .draw {
  background-image: url("../images/2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
}

#projects .projects-container .draw .item {
  -webkit-box-shadow: 0 0 10px #833e25 inset;
          box-shadow: 0 0 10px #833e25 inset;
}

#projects .projects-container .trid {
  background: #833e25;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #833e25), color-stop(72%, #ffa42c));
  background: linear-gradient(0deg, #833e25 19%, #ffa42c 72%);
}

#projects .projects-container .trid .item {
  z-index: 5;
}

#projects .projects-container .trid svg {
  position: absolute;
  bottom: 0;
}

#projects .projects-container .item {
  margin: 2vh 2vw;
  z-index: 99;
}

#projects .projects-container .item img {
  width: 250px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#projects .projects-container .item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects .projects-container .item .img-web {
  width: 320px;
}

#projects .projects-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#projects .projects-nav .pro-btn {
  background-color: transparent;
  color: #ffa42c;
  font-size: 3vw;
  font-family: "Geom", sans-serif;
  border: 1px solid #ffa42c;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
}

#about {
  margin-top: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: url("../images/me2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
}

#about h2 {
  font-family: "Geom", sans-serif;
  word-break: break-all;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 1px #ffa42c;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateY(5deg);
          transform: perspective(1000px) rotateY(5deg);
  margin-left: 2vw;
  -webkit-animation: text-flicker 3s infinite;
          animation: text-flicker 3s infinite;
}

#about .about-body {
  text-align: right;
  margin-right: 2vw;
  color: lightgrey;
  text-shadow: 0 0 2px #ffa42c;
  width: 60%;
  font-size: 18px;
}

#contactme {
  margin-top: 80vh;
  height: 50vh;
}

#contactme .contactme-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Geom", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  height: 65vh;
  z-index: -2;
  opacity: 0.2;
}

#contactme .contactme-title .title0 {
  color: lightgrey;
  font-family: "Geom", sans-serif;
  font-size: 8vw;
}

#contactme .contactme-title .title1 {
  background: -webkit-linear-gradient(#ffa42c, #833e25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Geom", sans-serif;
  font-size: 8vw;
}

#contactme .contactme-title .title2 {
  color: #0a0a0a;
  -webkit-text-stroke: 0.5px lightgrey;
  font-family: "Geom", sans-serif;
  font-size: 8vw;
}

#contactme .contactme-form .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactme .contactme-form .forms label {
  color: #ffa42c;
  margin: 1.5vh 0;
  font-family: "Geom", sans-serif;
}

#contactme .contactme-form .emailin {
  background-color: transparent;
  font-family: "Mukta", sans-serif;
  color: #ffa42c;
  border: 1px solid #ffa42c;
  padding: 10px;
  outline: none;
  -webkit-box-shadow: 0 0 6px #ffa42c;
          box-shadow: 0 0 6px #ffa42c;
  border-radius: 20px;
  width: 40%;
}

#contactme .contactme-form textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid #833e25;
  border-radius: 20px;
  padding: 10px;
  color: #833e25;
  -webkit-box-shadow: 0 0 6px #833e25;
          box-shadow: 0 0 6px #833e25;
  resize: vertical;
  width: 80%;
}

#contactme .btn {
  background: #833e25;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #833e25), color-stop(72%, #ffa42c));
  background: linear-gradient(0deg, #833e25 19%, #ffa42c 72%);
  color: #0a0a0a;
  -webkit-box-shadow: 0 0 10px #ffa42c;
          box-shadow: 0 0 10px #ffa42c;
  margin-top: 4vh;
  font-weight: bold;
  text-align: right;
  width: 100%;
  vertical-align: top;
  cursor: pointer;
}

footer {
  margin: 50vh 0;
  text-align: center;
}

footer h5 {
  font-family: "Geom", sans-serif;
  background: -webkit-linear-gradient(#ffa42c, #833e25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: text-flicker 3s infinite;
          animation: text-flicker 3s infinite;
}

.nemodyblog {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
  background: #ffa42c;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffa42c), color-stop(16%, #833e25), color-stop(44%, #0a0a0a));
  background: linear-gradient(0deg, #ffa42c 0%, #833e25 16%, #0a0a0a 44%);
}

.nemodyblog .nemodybtn {
  font-family: "Geom", sans-serif;
  letter-spacing: 5px;
  color: #0a0a0a;
  text-decoration: none;
  font-size: 5vw;
  -webkit-box-shadow: 0 0 10px #ffa42c;
          box-shadow: 0 0 10px #ffa42c;
  background: #833e25;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #833e25), color-stop(72%, #ffa42c));
  background: linear-gradient(0deg, #833e25 19%, #ffa42c 72%);
  padding: 10px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateX(20deg);
          transform: perspective(1000px) rotateX(20deg);
}

.nemodyblog .nemodybtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes nameani {
  0% {
    text-shadow: 0 0 10px #f8a02c;
  }
  99% {
    text-shadow: none;
  }
}

@keyframes nameani {
  0% {
    text-shadow: 0 0 10px #f8a02c;
  }
  99% {
    text-shadow: none;
  }
}

@-webkit-keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 20px #833e25;
  }
  2% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  8% {
    opacity: 0.1;
    text-shadow: 0 0 20px #833e25;
  }
  9% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  12% {
    opacity: 0.1;
    text-shadow: 0 0 20px #833e25;
  }
  20% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  25% {
    opacity: 0.3;
    text-shadow: 0 0 20px #833e25;
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  70% {
    opacity: 0.7;
    text-shadow: 0 0 20px #833e25;
  }
  72% {
    opacity: 0.2;
    text-shadow: 0 0 20px #833e25;
  }
  77% {
    opacity: 0.9;
    text-shadow: 0 0 20px #833e25;
  }
  100% {
    opacity: 0.9;
    text-shadow: 0 0 20px #833e25;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 20px #833e25;
  }
  2% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  8% {
    opacity: 0.1;
    text-shadow: 0 0 20px #833e25;
  }
  9% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  12% {
    opacity: 0.1;
    text-shadow: 0 0 20px #833e25;
  }
  20% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  25% {
    opacity: 0.3;
    text-shadow: 0 0 20px #833e25;
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 20px #833e25;
  }
  70% {
    opacity: 0.7;
    text-shadow: 0 0 20px #833e25;
  }
  72% {
    opacity: 0.2;
    text-shadow: 0 0 20px #833e25;
  }
  77% {
    opacity: 0.9;
    text-shadow: 0 0 20px #833e25;
  }
  100% {
    opacity: 0.9;
    text-shadow: 0 0 20px #833e25;
  }
}

@-webkit-keyframes typed {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 80%;
    opacity: 1;
  }
}

@keyframes typed {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 80%;
    opacity: 1;
  }
}

@-webkit-keyframes trans-projects {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes trans-projects {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes thesun {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes thesun {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes transitiontheme {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transitiontheme {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=default.css.map */