@import url('style.css');



.owl-carousel{
    overflow-y: visible;
}

.owl-item{
    transition: 0.3s  ease-in-out;
    display: flex;
    justify-content: center;
}
.website-carousel .owl-item.active img{
box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.portfolio-detail-scroller::-webkit-scrollbar{
    background-color: rgba(59, 59, 59, 0.699);
    backdrop-filter: blur(2px);
    width: 8px;
    border-radius: 10px;
}
    
.portfolio-detail-scroller::-webkit-scrollbar-thumb {
    background-color: rgba(87, 87, 87, 0.699);
    border-radius: 10px;
}

#portfolio-preview-suggest {
    transform: translateX(0);
    animation: portfoliosuggestanim 5s infinite;
}

@keyframes portfoliosuggestanim {
    25% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .owl-item{
        scale: 0.5;
        filter: grayscale(1) blur(1px);
        opacity: 0.5;
    }
    .owl-item.active.center{
        filter: grayscale(0);
        opacity: 1;
        scale: 0.9;
        z-index: 2;
    }
}

@media (min-width: 1280px) {
    .owl-item.active{
        scale: 0.7;
    }
    .owl-item.active.center{
        filter: grayscale(0);
        opacity: 1;
        scale: 1;
        z-index: 2;
    }
    #portfolio-bg {
        -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.6) 100%);
        mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.5) 100%);
    }
}
