@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto+Mono:wght@300&display=swap");
@font-face {
  font-family: "Geom";
  src: url("../fonts/Geometos Rounded.ttf");
}

.container-fluid {
  margin: 0 0 0 0;
}

body {
  background-color: #0a0a0a;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

body.now {
  background-color: lightgrey;
}

#home {
  background-image: url("../images/IMG_20220221_093425-01.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(15, 15, 15, 0.384);
  background-blend-mode: darken;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

#home .home_profile {
  z-index: 2;
}

#home .home_profile .home-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#home .home_profile .home-name h1 {
  font-family: "Geom", "Playfair Display", serif;
  letter-spacing: 5px;
  color: #ffa42c;
  font-size: 10vh;
  text-shadow: 0 0 9px #f8a02c;
  -webkit-animation: nameani 2s ease-in-out infinite;
          animation: nameani 2s ease-in-out infinite;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

#home .home_profile h2 {
  color: lightgrey;
  font-family: "Mukta";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: typed 5s steps(20, end) forwards infinite;
          animation: typed 5s steps(20, end) forwards infinite;
  overflow: hidden;
  white-space: nowrap;
}

#home .home_image {
  position: absolute;
  z-index: 0;
}

#home .home_image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 500px;
}

#projects {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20vh;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-bottom: 2px dashed #ffa42c;
}

#projects .projectss {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .projectss::-webkit-scrollbar {
  width: 0;
}

#projects .projectss .projects-items {
  margin: 3vw;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  position: relative;
  z-index: 1;
}

#projects .projectss .projects-items:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects .projectss .projects-items .projects-caption {
  font-family: "Mukta", sans-serif;
}

#projects .projectss .projects-items .projects-caption .projects-caption-header {
  text-shadow: 0 0 4px #ffa42c;
  color: #ffa42c;
  font-family: "Geom", "Playfair Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects .projectss .projects-items .projects-caption .projects-caption-header a {
  font-family: "Mukta", sans-serif;
  color: lightgrey;
}

#projects .projectss .projects-items .projects-caption .projects-caption-body {
  background-color: rgba(15, 15, 15, 0.596);
  color: lightgrey;
}

#projects .projectss .img-projects:hover {
  -webkit-box-shadow: 0 0 20px #ffa42c;
          box-shadow: 0 0 20px #ffa42c;
}

#projects .projectss .website {
  background-image: url("../images/1.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(15, 15, 15, 0.116);
  background-blend-mode: darken;
}

#projects .projectss .design {
  background-image: url("../images/1.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(15, 15, 15, 0.116);
  background-blend-mode: darken;
}

#projects .projectss .draw {
  background-image: url("../images/3.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(15, 15, 15, 0.116);
  background-blend-mode: darken;
}

#projects .projectss .trid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(15, 15, 15, 0.116);
  background-blend-mode: darken;
  height: 100%;
  background-image: url("../images/1.jpeg");
}

#projects .projectss .img-projects {
  width: 270px;
  -o-object-fit: contain;
     object-fit: contain;
}

#projects .arts-nav {
  position: absolute;
  z-index: 100;
  padding: 20px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects .arts-nav .arts-btns {
  background-color: transparent;
  border: none;
  outline: 1px solid #ffa42c;
  color: #ffa42c;
  border-radius: 10px;
  font-size: 20px;
  -webkit-box-shadow: 0 0 10px #ffa42c;
          box-shadow: 0 0 10px #ffa42c;
  background-color: rgba(15, 15, 15, 0.644);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#projects .projects-nav {
  border-left: 1px solid #ffa42c;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  right: 0;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects .projects-nav .pro-btn {
  font-family: "Geom", "Playfair Display", serif;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 3vw;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffa42c;
  border: 1px solid #ffa42c;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

#projects .projects-nav .pro-btn.active {
  background-color: #ffa42c;
  color: #0a0a0a;
}

#projects.reveal {
  height: 120vh;
  padding-bottom: 20vh;
}

.abouts {
  margin-top: 400px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("../images/pexels-bnw-9488124.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(15, 15, 15, 0.836);
  background-blend-mode: hard-light;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.abouts h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-text-stroke: 1px #ffa42c;
  -webkit-text-fill-color: transparent;
  font-family: "Geom", "Playfair Display", serif;
  word-break: break-all;
  font-size: 70px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateY(20deg);
          transform: perspective(1000px) rotateY(20deg);
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}

.abouts p {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  color: lightgrey;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  text-shadow: 0 0 3px #ef0d0c;
}

.abouts.now {
  -webkit-box-shadow: 0 -20px 120px 200px #ef0c0cea;
          box-shadow: 0 -20px 120px 200px #ef0c0cea;
}

#contactme {
  margin-top: 100px;
  font-family: "Mukta", sans-serif;
}

#contactme h1 {
  color: #0a0a0a;
  font-weight: bold;
}

#contactme .contactme-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactme .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactme label {
  color: rgba(211, 211, 211, 0.719);
  margin: 2vh 0;
}

#contactme .emailin {
  background-color: transparent;
  border: none;
  outline: 1px solid #f8a02c;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  color: lightgrey;
  -webkit-box-shadow: 0 0 10px #ffa42c;
          box-shadow: 0 0 10px #ffa42c;
}

#contactme textarea {
  background-color: transparent;
  -webkit-box-shadow: 0 0 10px #ffa42c;
          box-shadow: 0 0 10px #ffa42c;
  border: none;
  padding: 20px;
  border: 1px solid #ffa42c;
  border-radius: 50px;
  color: lightgrey;
}

#contactme textarea::-webkit-scrollbar {
  width: 0;
}

#contactme .form-reveal {
  opacity: 0;
  width: 0;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

#contactme .form-reveal.now {
  opacity: 1;
  width: 100%;
}

#contactme .btn {
  background-color: #ffa42c;
  font-family: "Geom", "Playfair Display", serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-top: 3vh;
  -webkit-box-shadow: 0 0 5px #fdaf49;
          box-shadow: 0 0 5px #fdaf49;
  text-align: right;
}

footer {
  font-family: "Geom", "Playfair Display", serif;
  color: lightgrey;
  text-align: center;
  margin-top: 50vh;
  margin-bottom: 150vh;
}

#nemodyblog {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mukta", sans-serif;
  background-color: white;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

#nemodyblog.hovers {
  background-image: url("../images/nemody.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#nemodyblog .nemodybtn {
  text-decoration: none;
  font-size: 10vh;
  color: lightgrey;
  padding: 10px;
  color: #0a0a0a;
  outline: 2px solid #0a0a0a;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#nemodyblog .nemodybtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes nameani {
  0% {
    text-shadow: 0 0 9px #f8a02c;
  }
  99% {
    text-shadow: none;
  }
}

@keyframes nameani {
  0% {
    text-shadow: 0 0 9px #f8a02c;
  }
  99% {
    text-shadow: none;
  }
}

@-webkit-keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 20px #dd3333;
  }
  2% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  8% {
    opacity: 0.1;
    text-shadow: 0 0 20px #dd3333;
  }
  9% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  12% {
    opacity: 0.1;
    text-shadow: 0 0 20px #dd3333;
  }
  20% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  25% {
    opacity: 0.3;
    text-shadow: 0 0 20px #dd3333;
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  70% {
    opacity: 0.7;
    text-shadow: 0 0 20px #dd3333;
  }
  72% {
    opacity: 0.2;
    text-shadow: 0 0 20px #dd3333;
  }
  77% {
    opacity: 0.9;
    text-shadow: 0 0 20px #dd3333;
  }
  100% {
    opacity: 0.9;
    text-shadow: 0 0 20px #dd3333;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 20px #dd3333;
  }
  2% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  8% {
    opacity: 0.1;
    text-shadow: 0 0 20px #dd3333;
  }
  9% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  12% {
    opacity: 0.1;
    text-shadow: 0 0 20px #dd3333;
  }
  20% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  25% {
    opacity: 0.3;
    text-shadow: 0 0 20px #dd3333;
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 20px #dd3333;
  }
  70% {
    opacity: 0.7;
    text-shadow: 0 0 20px #dd3333;
  }
  72% {
    opacity: 0.2;
    text-shadow: 0 0 20px #dd3333;
  }
  77% {
    opacity: 0.9;
    text-shadow: 0 0 20px #dd3333;
  }
  100% {
    opacity: 0.9;
    text-shadow: 0 0 20px #dd3333;
  }
}

@-webkit-keyframes typed {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes typed {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes trans-projects {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes trans-projects {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */