@import "Variables";

.themes-buttons {
  height: 30px;
  width: 150px;
  position: absolute;
  z-index: 200;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;

  .thmsbtn {
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 50%;
    box-shadow: 0 0 10px $hitam;
  }

  .btn-default {
    @include gradOrange();
  }
  .btn-darkblue {
    @include gradDarkBlue();
  }
  .btn-retro {
    @include gradRetro();
  }
}
