@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Nanum+Gothic&family=Yeseva+One&display=swap");
@font-face {
  font-family: "Carneys";
  src: url("../fonts/Carneys Gallery.otf");
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.glass {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #ffe8be2f;
  z-index: 500;
  background-image: url("../images/dust.jpg");
  background-blend-mode: screen;
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  padding: 40px;
  background-color: #8c2318;
  background-image: url("../images/paper.jpg");
  background-blend-mode: multiply;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.37);
          box-shadow: 0 4px 3px rgba(0, 0, 0, 0.37);
  overflow: hidden;
  position: relative;
}

#home .home-profile {
  z-index: 1;
  width: 50%;
}

#home .home-profile h1 {
  font-size: 14vh;
  font-family: "Carneys", "Yeseva One", serif;
  color: #e6d1ab;
  text-shadow: -4px 5px 2px rgba(0, 0, 0, 0.39);
  -webkit-text-stroke: 0.05px #8c2318;
}

#home .home-profile h2 {
  white-space: nowrap;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #5e8c6a;
  margin: 1vh 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  color: #e6d1ab;
  -webkit-box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.37);
          box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.37);
}

#home .home-image {
  height: 70vh;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

#home .home-image img {
  -webkit-transform: perspective(1000px) rotateY(-4deg) rotateX(5deg);
          transform: perspective(1000px) rotateY(-4deg) rotateX(5deg);
  -o-object-fit: contain;
     object-fit: contain;
  height: 70vh;
  width: 400px;
  border: 2px dashed #e6d1ab;
  -webkit-box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.37);
          box-shadow: 6px 5px 3px rgba(0, 0, 0, 0.37);
  background: #e7e7e7;
  background: linear-gradient(117deg, rgba(231, 231, 231, 0.2) 16%, rgba(255, 255, 255, 0.1) 21%, rgba(203, 203, 203, 0.2) 37%, rgba(179, 179, 179, 0.2) 52%, rgba(255, 250, 250, 0.1) 68%, rgba(214, 211, 211, 0.1) 88%, rgba(167, 167, 167, 0.2) 100%);
  -webkit-filter: sepia(30%);
          filter: sepia(30%);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

#projects {
  height: 100vh;
  background-color: #e6d1ab;
  background-image: url("../images/paper.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#projects h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Carneys", "Yeseva One", serif;
  font-size: 7vw;
  color: #8c2318;
  pointer-events: none;
}

#projects .projects-container {
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .web-capt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

#projects .web-capt h4 {
  font-family: "Carneys", "Yeseva One", serif;
  color: #8c2318;
}

#projects .web-capt a {
  color: #e6d1ab;
  padding: 5px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  background-color: #8c2318;
}

#projects .projects-content {
  cursor: pointer;
  margin: 1vh 2vw;
  z-index: 10;
  padding: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
  width: 95.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80vh;
  overflow-y: scroll;
  background: #e7e7e7;
  background: linear-gradient(117deg, rgba(231, 231, 231, 0.2) 16%, rgba(255, 255, 255, 0.1) 21%, rgba(203, 203, 203, 0.2) 37%, rgba(179, 179, 179, 0.2) 52%, rgba(255, 250, 250, 0.1) 68%, rgba(214, 211, 211, 0.1) 88%, rgba(167, 167, 167, 0.2) 100%);
}

#projects .projects-content .items {
  margin: 2vh 0;
}

#projects .projects-content .items img {
  width: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

#projects .projects-content .items:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  background-color: #8c2318;
  background-image: url("../images/noise.jpg");
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#about .about-image {
  -webkit-box-flex: 0.15;
      -ms-flex: 0.15;
          flex: 0.15;
  overflow: hidden;
  height: 100vh;
  background-image: url("../images/me2.jpeg");
  background-position: center;
  background-size: contain;
}

#about .about-body {
  -webkit-box-flex: 0.85;
      -ms-flex: 0.85;
          flex: 0.85;
  padding: 10px;
  overflow-y: scroll;
}

#about .about-body h2 {
  font-size: 9vw;
  font-family: "Carneys", "Yeseva One", serif;
  color: #5e8c6a;
}

#about .about-body h3 {
  font-family: "Carneys", "Yeseva One", serif;
  font-size: 26px;
  color: #e6d1ab;
  margin: 3vh 0;
  text-decoration: underline;
}

#about .about-body p {
  color: #e6d1ab;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
}

#about .about-website-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6d1ab;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

#about .about-website-component h4 {
  margin: 2vh 0 1vh 0;
  font-family: "Nanum Gothic", sans-serif;
}

#about .about-website-component ul {
  font-family: "Carneys", "Yeseva One", serif;
  padding: 5px;
  color: #8c2318;
}

#about .about-website-component .colors-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-website-component .colorss {
  width: 50px;
  height: 50px;
  background-color: #8c2318;
}

#about .about-website-component .a1 {
  background-color: #5e8c6a;
}

#about .about-website-component .a2 {
  background-color: #e6d1ab;
  outline: 0.05px solid #8c2318;
}

#contactme {
  background-color: #5e8c6a;
  text-align: center;
  border-top: 4px dashed #8c2318;
}

#contactme h2 {
  color: #e6d1ab;
  font-size: 5vw;
  text-decoration: underline;
}

#contactme .contactme-form .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contactme .contactme-form .forms label {
  color: #8c2318;
  font-family: "Carneys", "Yeseva One", serif;
  font-size: 3vw;
  margin: 3vh 0;
}

#contactme .contactme-form .forms .emailin {
  padding: 10px;
  margin: 0 30%;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #8c2318;
  border: 1px solid #e6d1ab;
  border-radius: 20px;
  font-size: 3vw;
}

#contactme .contactme-form .forms textarea {
  outline: none;
  margin: 0 15%;
  background-color: transparent;
  border: 1px solid #e6d1ab;
  border-radius: 20px;
  font-size: 2vw;
  padding: 10px;
  color: #e6d1ab;
  resize: vertical;
}

#contactme .contactme-form button {
  background-color: #8c2318;
  padding: 10px;
  color: #e6d1ab;
  font-family: "Carneys", "Yeseva One", serif;
  border: none;
  margin: 3vh 0;
  font-size: 2.5vw;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.37);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.37);
  cursor: pointer;
}

footer {
  background-color: #e6d1ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

footer h2 {
  font-family: "Carneys", "Yeseva One", serif;
  color: #8c2318;
}

@media (max-width: 768px) {
  #home .home-profile h1 {
    font-size: 10vh;
  }
  #home .home-image img {
    width: 300px;
  }
  #projects .projects-content .items img {
    width: 270px;
  }
  #contactme .contactme-form .forms .emailin {
    font-size: 5vw;
  }
  #contactme .contactme-form .forms textarea {
    font-size: 3vw;
  }
  #about .about-website-component {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #home .home-profile h1 {
    font-size: 8vh;
  }
  #home .home-image img {
    width: 270px;
  }
  #projects .projects-content .items img {
    width: 230px;
  }
  #contactme .contactme-form .forms .emailin {
    font-size: 6vw;
  }
  #contactme .contactme-form .forms textarea {
    font-size: 4vw;
  }
}
/*# sourceMappingURL=style.css.map */