@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Mukta:wght@300&family=Prompt:wght@300&family=Roboto+Slab&family=Yeseva+One&display=swap");
@font-face {
  font-family: "Geom";
  src: url("../fonts/Geometos\ Rounded.ttf");
}
@font-face {
  font-family: "Carneys";
  src: url("../fonts/Carneys\ Gallery.otf");
}
@font-face {
  font-family: "goodtimingbd";
  src: url("../fonts/good\ timing\ bd.ttf");
}

// ----------------------------------WARNA----------------------------------
// DEFAULT
$hitam: rgb(10, 10, 10);
$putih: lightgrey;
$ora: rgb(255, 164, 44);
$cokdef: #833e25;
$texts: 0 0 20px $cokdef;
$red: #ef0d0c;
// RETRO
$crm: #e6d1ab;
$crm2: #d8b370;
$cokretro: #493d30;
$cokmud: #665541;
// DARKBLUE
$blue: #0074e7;
$whiblue: rgb(222, 235, 252);
$darkblue: #081a28;

// ----------------------------------FONTS----------------------------------
$fontdef1: "Geom", "Archivo Black", sans-serif;
$fontdef2: "Mukta", sans-serif;

$fontretro1: "Carneys", "Yeseva One", cursive;
$fontretro2: "Roboto Slab", serif;

$fontblue1: "goodtimingbd", "Audiowide", cursive;
$fontblue2: "Prompt", sans-serif;

// MIXINS
@mixin gradOrange {
  background: rgb(131, 62, 37);
  background: linear-gradient(
    0deg,
    rgba(131, 62, 37, 1) 19%,
    rgba(255, 164, 44, 1) 72%
  );
}
@mixin gradDarkBlue {
  background: rgb(13, 0, 85);
  background: linear-gradient(0deg, rgb(11, 0, 58) 19%, rgb(18, 0, 175) 72%);
}
@mixin gradRetro {
  background: $crm;
  background: linear-gradient(0deg, $cokmud 19%, $crm 72%);
}
